# 초보자를 위한 파이썬 300제

## 03. 파이썬 문자열

### 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.  
letters = 'python'  

실행 예:  
p t

In [3]:
letters = 'python'
print(letters[0], letters[2])

p t

### 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.  
license_plate = "24가 2210"  

실행 예:  
2210

In [6]:
license_plate = "24가 2210"  
print(license_plate[-4:])

2210

### 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.  
string = "홀짝홀짝홀짝"

실행 예:  
홀홀홀

In [13]:
string = "홀짝홀짝홀짝"
print(string[::2]) # ::숫자 : 첫글자부터 숫자-1 간격을 띄고 출력

홀홀홀

### 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.  
string = "PYTHON"

실행 예:  
NOHTYP

In [17]:
string = "PYTHON"
print(string[::-1]) # '::숫자'에서 숫자가 음수면 거꾸로 출력

NOHTYP

### 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.  
phone_number = "010-1111-2222"

실행 예:  
010 1111 2222

In [18]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

### 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예  
01011112222

In [19]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

### 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.  
url = "http://sharebook.kr"

실행 예:  
kr

In [20]:
url = "http://sharebook.kr"
url_split = url.split('.') # split함수 : 괄호안 문자를 기준으로 자름
print(url_split)
print(url_split[-1])

['http://sharebook', 'kr']
kr

### 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.  

lang = 'python'  
lang[0] = 'P'  
print(lang)

In [22]:
# lang = 'python'
# lang[0] = 'P'
# print(lang)
# 오류발생 : 문자열은 수정할 수 없다.

### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.  
string = 'abcdfe2a354a32a'

실행 예:  
Abcdfe2A354A32A

In [23]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

### 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'  
string.replace('b', 'B')  
print(string)

In [24]:
string = 'abcd'
string.replace('b', 'B')
print(string)
# 결과가 변하지 않음. 
# 문자열은 변경할 수 없는 자료형.

abcd

### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

a = "3"  
b = "4"  
print(a + b)

In [1]:
a = "3"
b = "4"
print(a + b) # 문자열이므로 이어서 출력 (계산 X)

34

### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

In [3]:
print("Hi" * 3) # 문자열 곱셈은 반복 횟수를 나타냄

HiHiHi

### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

In [4]:
print("-" * 80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.  
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.  
t1 = 'python'  
t2 = 'java'

실행 예:  
python java python java python java python java

In [12]:
t1 = 'python'
t2 = 'java'
print((t1 + '' + t2,) * 4 ) # 원하는 결과가 아님
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

('pythonjava', 'pythonjava', 'pythonjava', 'pythonjava')
python java python java python java python java

### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"  
age1 = 10  
name2 = "이철희"  
age2 = 13  

실행 예:  
이름: 김민수 나이: 10  
이름: 이철희 나이: 13

In [14]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1)) # %s는 문자열 데이터 타입의 값
print("이름: %s 나이: %d" % (name2, age2)) # %d는 정수형 데이터 타입 값

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [16]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [19]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"

In [22]:
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(",", "")
상장주식수 = int(상장주식수)
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [29]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [35]:
data = " 삼성전자 "
result = data.replace(" ", "")
print(result)

data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자
삼성전자

### 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

In [37]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

### 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

In [38]:
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [39]:
data = 'hello'
data.capitalize()

'Hello'

### 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [42]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx") # endswith('문자열') : 끝나는 부분이 원하는 문자열인지 확인(boolean 반환)

True

### 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [46]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls")) # endswith() : 두개 이상의 문자열 넣을 수 있음(or 형식- 하나만 맞아도 True)

True

### 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [47]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020") # endswith 랑 같음

True

### 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"

In [51]:
a = "hello world"
a.split()

['hello', 'world']

### 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

In [52]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

### 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

In [53]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

### 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "

In [56]:
data = "039490     "
data = data.rstrip()
print(data)

039490